extends layout

block content
  h1 Welcome to AliMate 阿里出境伙伴
  h4 proudly made by Alibaba and NAB
  p.lead Bridge Australian Business and Chinese seamlessly
  hr
  .row
    .col-sm-6
      h2 Migrant Australia 移民澳洲
      p
      .btn-group.btn-group-justified
        a.btn.btn-primary(href='/api', role='button') 移民澳洲 »
    .col-sm-6
      h2 Study in Australia 留学澳洲
      p
      .btn-group.btn-group-justified
        a.btn.btn-primary(href='/api', role='button') 留学澳洲 »
    .col-sm-6
      h2 Travel to Australia 旅游澳洲
      p
      .btn-group.btn-group-justified
        a.btn.btn-primary(href='/api', role='button') 旅游澳洲 »
