extends ../layout

block content
  .page-header
    h2
      | Alipay Transaction Page
    h3
      | 阿里支付交易页面

  h3
  table.table.table-striped.table-bordered.table-condensed
    thead
      tr
        th Name
        th Shop
        th Product
        th Price
      tbody
        tr
          td Car
          td BMW Dealer
          td BMW M3
          td $100,000

  h3
    | Transaction Successed 交易成功！
